name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: create firebase config file 
        run: |
           echo "creating firebase_config.dart"
           mkdir lib/backend/firebase
           echo "${{ secrets.DEV_FIREBASE_CONFIG }}" > lib/backend/firebase/firebase_config.dart
           cat lib/backend/firebase/firebase_config.dart

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.9'
          channel: 'stable'
          
      - name: Install Flutter dependencies
        run: flutter pub get

      - name: Build Flutter for web
        run: flutter build web

      - name: Deploy to Firebase Hosting
        env:
          # GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.FIREBASE_DEV_GOOGLE_APPLICATION_CREDENTIALS }}          
          # FIREBASE_TOKEN: ${{ secrets.DEV_FIREBASE_TOKEN }}
           GOOGLE_APPLICATION_CREDENTIALS: ${{ runner.temp }}/firebase-service-account.json
        run: |
          echo "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}" > $GOOGLE_APPLICATION_CREDENTIALS
          npm install -g firebase-tools
          firebase deploy --only hosting --project my-demo-app-dev-9f4c3
